[Desktop Entry]
Type=Application
Name=CMD Package
Comment=Native CMD toolchain and .cmd application support
Exec=%CMDLINK% --help
TryExec=%CMDLINK%
Icon=%CMD_ICON%
Terminal=true
Categories=Development;Utility;
MimeType=application/x-cmd;
NoDisplay=false
StartupNotify=true
